:root {
  --black: #000000;
  --white: #FFFFFF;
  --green: #387800;
  --green-bg: #F1F6ED;
  --orange: #F2994A;
  --red: #BA0303;
  --gray-lighter: #C6C6C6;
  --gray-light: #686868;
  --gray-dark: #5C5C5C;
}

body {
  overflow-x: hidden;
  margin: 0; padding: 0;
  font-family: Ubuntu, sans-serif;
  background-color: var(--white);
}

/** Text colors */
.orange { color: var(--orange); }
.green { color: var(--green); }
.white { color: var(--white); }
.black { color: var(--black); }
.red { color: var(--red); }
.gray { color: var(--gray-light); }


/** Flexbox shortcuts */
.fbc { display: flex; flex-flow: column; }
.fbr { display: flex; flex-flow: row; }
.fbsb { justify-content: space-between; }
.fbfs { justify-content: flex-start; }
.fbfe { justify-content: flex-end}
.fbasc { align-self: center; }


/** Font styling shortcuts */
b, .b { font-weight: 500; }       /* bold */
.fs1 { font-size: 1.125rem; }  /* ~18px */


/** margin / paddings shortcuts */
.mc { margin: auto; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }
.ml1 { margin-left: 1rem; }
.ml2 { margin-left: 2rem; }


/** Misc */
.disabled { display: none; }
.invisible { opacity: 0; }

.divider.horisontal {
    background-color: var(--gray-lighter);
    height: 1px;
}

